doctype html
head
  style
    include style.css
  title My Apps

body
  div
    p !{reminder}
    h1 Welcome to Umbrella Apps
    h1 Options:
      p
        a(href="notes") My Notes
      p
        a(href="myemail") My Email
      p
        a(href="passchange") Change my password

