doctype html
head
  style
    include style.css
  title Password Change

body
  div(class='login-page')
  h1 
    a(href="apps") Back to My Apps
  p !{reminder}

  div(class='form')
    h1 Change your password
    form(action='changepass', method='POST', class='login-form')
      label Enter your new password:
      input(type='password', name='new_password',placeholder='password',required='required')
      label Please your new password again:
      input(type='password', name='new_password_check', placeholder='password',required='required')
      button Submit
